extends layout.pug
block content
  div.main-question
    h2 Top Questions
    if signedIn
      //-button(type='submit' action="/postQuestion").main-btn-question Ask a question
  div.main-list-question.questionLink
    div.questionContainer
      each question in topQuestions
        div.containerSolo.box-width.main(data-questionid=question.id)
          div.questionRow1(data-questionid=question.id): a.questionLink.main(href=`/questions/${question.id}`) #{question.questionSubject}
          div.questionRow2(data-questionid=question.id)
            div.questionVotes(data-questionid=question.id)
              span(style="font-size: 2em; color: lightblue;" data-questionid=question.id)
                i(class="question fas fa-caret-up" data-questionid=question.id)
                p.score(data-questionid=question.id) #{question.score}
              span(style="font-size: 2em; color: lightblue;" data-questionid=question.id)
                i(class="question fas fa-caret-down" data-questionid=question.id)
            div.questionTextSolo.questionText(data-questionid=question.id)
              span(data-questionid=question.id) !{question.questionText} <br>
          span.author(data-questionid=question.id) Author: #{question.author} </br> Posted: #{question.createdAt}
  script(type="text/javascript" src="/js/votes.js")
      //- Author: #{question.userId} </br> Posted: #{question.createdAt}
          p.main-questionText #{question.questionText}
          p.main-user Author: #{question.userId}, Posted: #{question.createdAt}
