extends layout.pug
block content
  br
  br
  div.questionContainer(data-questionid=question.id)
    div.containerSolo.box-width
      div.questionRow1= question.questionSubject
      div.questionRow2
        div.questionVotes
          span(style="font-size: 2em; color: lightblue;")
            i(class="fas fa-caret-up")
            p.score #{score}
          span(style="font-size: 2em; color: lightblue;")
            i(class="question fas fa-caret-down")
        div.questionTextSolo
          span #{question.questionText} <br>
        input(type='hidden' id='questionId' value=`${question.id}`)
      span.author Author: John Hughes </br> Posted: March 25, 2020
        //- div.mceContainer
        //-   div.mceErrors
        //-   div.mceBox
        //-     form(id="testForm" method="post" )
        //-       input(type='hidden' name='_csrf' value=csrfToken)
        //-       textarea(id="questionText" required value=questionText)
        //-   div
        //-       button(type="submit" id="postAnswer" style="display:inline-block").mceSubmit SUBMIT ANSWER
    div.numAnswers
      if answers.length === 1
        span #{answers.length} Answer
      else if answers.length === 0
        span No answers for this question
      else
        span #{answers.length} Answers
    each answer in answers
      div.containerSolo.box-width.answerBox
        div.questionRow2(data-answerId=answer.id)
          div.questionVotes
            span(style="font-size: 2em; color: lightblue;")
              i(class="fas fa-caret-up")
              p.score #{answer.score}
            span(style="font-size: 2em; color: lightblue;")
              i(class="questionAnswer fas fa-caret-down")
          p.questionTextSolo #{answer.answerText}
            span.authorAnswer Author: #{answer.userId} </br> Posted: March 26, 2020
    div.mceContainer2
      div.mceErrors
      div.mceBox
        form(id="testForm" class='testForm' method="post" )
          input(type='hidden' id='questionId' value=question.id)
          input(type='hidden' name='_csrf' value=csrfToken)
          textarea(id="questionText" required value=answerText)
          button(type="submit" id="postAnswer" style="display:inline-block").mceSubmit SUBMIT ANSWER
    script(src="https://cdn.tiny.cloud/1/imc1fcb65bpfltbfodzejv92t1z705gvnrekj1svi9uz6bgp/tinymce/5/tinymce.min.js" referrerpolicy="origin")
    script(type="text/javascript" src="/js/add-answer.js")
