extends layout.pug
block content
  br
  br
  div.questionContainer
    div.containerSolo.box-width
      div.questionRow1= question.questionSubject
      div.questionRow2
        div.questionVotes
          span(style="font-size: 2em; color: lightblue;")
            i(class="fas fa-caret-up")
            p.score #{score}
          span(style="font-size: 2em; color: lightblue;")
            i(class="fas fa-caret-down")
        div.questionTextSolo
          span #{question.questionText} <br>
      div.questionRow3
        if (currentUserId === question.userId)
          span.deleteBtn: a(href=`${question.id}/delete`) Delete
        span.author Author: John Hughes </br> Posted: March 25, 2020
      //- Author: #{question.userId} </br> Posted: #{question.createdAt}
    div.numAnswers
      if answers.length === 1
        span #{answers.length} Answer
      else if answers.length === 0
        span No answers for this question
      else
        span #{answers.length} Answers
    each answer in answers
      div.containerSolo.box-width.answerBox
        div.questionRow2
          div.questionVotes
            span(style="font-size: 2em; color: lightblue;")
              i(class="fas fa-caret-up")
              p.score #{answer.score}
            span(style="font-size: 2em; color: lightblue;")
              i(class="fas fa-caret-down")
          p.questionTextSolo #{answer.answerText}
            span.authorAnswer Author: #{answer.userId} </br> Posted: March 26, 2020
