extends layout.pug
block content
  div.usersWrapper
    each user in users
      div.userBox
        div.userName2 
          if signedIn
            a(href=`/users/${user.id}`) #{user.userName} 
          else
            span #{user.userName} 
        div.cred User: #{user.id}
        img.avatar2(src=`${user.avatar}` height="50")
      