extends layout.pug
block content
  div
    p(text-align="center") Registered Users:
  div.usersWrapper
    each user in users
      div.userBox
        div.userName2
          if signedIn
            a(href=`/users/${user.id}`) #{user.userName}
          else
            span #{user.userName}
        div.cred User: #{user.id}
        img.avatar2(src=`${user.avatar}` height="50")
  br
  div
    p(text-align="center") Developers on this project:
  div.usersWrapper2
    div.userBox2
      div.userName2
        a(href=`https://github.com/ahan8927`) Aaron Hanson
      div.cred
      img.avatar1(src=`https://avatars2.githubusercontent.com/u/67394227?s=460&u=d065c60f5b20b9f02ba844dd323875a745a39309&v=4` height="50")
    div.userBox2
      div.userName2
        a(href=`https://github.com/johnegus`) John Hiestand
      div.cred
      img.avatar1(src=`https://avatars3.githubusercontent.com/u/64587785?s=460&u=2905b426f4521fabe67fa4bf5b65cd929c862408&v=4` height="50")
    div.userBox2
      div.userName2
        a(href=`http://www.marylark.com`) Mary Lark
      div.cred
      img.avatar1(src=`https://avatars3.githubusercontent.com/u/579755?s=460&u=26ae6ec9ba3c0aa783421ed54c0c479daa09e23b&v=4` height="50")
    div.userBox2
      div.userName2
        a(href=`https://mjshuff23.github.io`) Michael Shuff
      div.cred
      img.avatar1(src=`https://avatars1.githubusercontent.com/u/64234180?s=460&u=e5b11db4f62af4f915315ede83c2e41f7a9f2298&v=4` height="50")
    div.userBox2
      div.userName2
        a(href=`https://github.com/zolvo`) Ronald Palisuan
      div.cred
      img.avatar1(src=`https://avatars2.githubusercontent.com/u/63423395?s=460&u=3e1134905577102a264cd3ad4ed53cddfbb8b2b5&v=4` height="50")
